{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error | escape }}</strong>
    </div>
    {% endfor %}
{% endfor %}    
{% else %}
{% endif %}

<div class="container">
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ post_form|crispy }}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
    
    <div class="user_post_container">
        {% for post, likeStatus in postLikes.items %}
        <div class="card">
            <div class="card-body">
                {{ post.content }}
            </div>
            <div class="card-text">
                {{ post.date_created }}
            </div>
            <div class="card-link">
                <a class="nav-link" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
            </div>
            {% if likeStatus%}
                <button type="button" class="btn btn-primary" id="likeButton">Unlike</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="likeButton">Like</button>            
            {% endif %}
            {% if post.like %}
                <div class="card-text">
                    {{ post.likes }}
                </div>
            {% endif %}
        </div>
        {% endfor%}
        {% include "network/pagination.html" with page=posts %}
    </div>
    
</div>

{% endblock %}