{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error | escape }}</strong>
    </div>
    {% endfor %}
{% endfor %}    
{% else %}
{% endif %}

<div class="container">
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ post_form|crispy }}
        <button type="submit" class="btn btn-success">Post</button>
    </form>

    <div class="container">
      {% include "network/post_feed.html" %}
    </div>
    
</div>

{% endblock %}