{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            Followers: {{ follower_count }}
        </div>

        <div class="col-md-4">
            Following: {{ follow_count }}
        </div>
    </div>
    
    <div class="container">
        {% include "network/post_feed.html" %}
    </div>

    {% if not_same_user %}
        {% if currently_follow %}
            <button type="button" class="btn btn-primary" id="followUnfollowButton" data-profile="{{profile.id}}">Unfollow</button>
        {% else %}
            <button type="button" class="btn btn-primary" id="followUnfollowButton" data-profile="{{profile.id}}">Follow</button>
        {% endif %}
    {% endif %}
</div>

{% endblock %}