body {
    /* 100vh mneans the height takes up 100% of the viewport  */
    height: 100vh; 
    font-family: Arial, sans-serif;
}

.header, .header-links, .header-advanced-logo, .header-advanced {
    display: flex;
    align-items: center;
}

.header a, .header-links a, .header-advanced-logo, .header-advanced a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.header-advanced {
    background-color: white;
    height: 50px;
}

.header-advanced-logo {
    padding: 10px;
}

.header-advanced-logo img {
    height: 30px;
}

.header-links {
    margin-left: auto;
}

input {
    font-size: 16px;
    width: 300px;
    padding: 13px 0;
    /* Parent selector = & */
  }

/*There is inheritnace going on between input and input=text. This means all inputs have a width of 500px unless otherwise stated*/
input[type=text] {
    /* Give input text a lighter color */
    color: #464646;
    margin: 0 0 0 5px;
}

input[type=submit] {
    font-size: 14px;
    width: 185px;
    /* Remove border */
    border-width: 0px;
    border-radius: 15px;
    margin: 20px;
  }
  
input[type=submit]:hover {
    /* Add box-shadow when hovering button (border adds space) */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
  
input.blue-button {
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #156bbd;
    float: right;
    padding: 10px 2px;
    margin: 0;
}

.search-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* set flex-direction cause that is the direction you want items to be laid out in*/
    /* align-items only work when height (below) is defined because otherwise don't know how much size the search-container supposed to take.*/
    align-items: center;
    /* % when used in height in css means take up that % of parent height. Here, search container parent is body so it means take up 90% of body height*/
    height: 90%;
}

.search-container .search-field {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid #afafaf;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
}

.search-container .search-field input {
    border: none;
    border-radius: 25px;
}

.search-container .logo-subtext {
    color: #4285f4;
    position: relative;
    left: 110px;
    top: -18px;
}

/* How come without a height and width defined here, will the properties below it use %*/
.advanced-search-container {
    margin: 50px 40px;
}

.advanced-search-container label {
    display: inline-block;
    width: 16%;
    font-size: 20px;
}

.advanced-search-container .whitespace {
    display: inline-block;
    width: 50%;
}

/*align-items center here makes sure that the words are at the center of the input field*/
.advanced-search-container .form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}

.advanced-search-container .form-group label {
    width: 16%;
    font-size: 14px;
}

.advanced-search-container .form-group input[type=text] {
    width: 49%;
    padding: 2px 0;
}

.advanced-search-container .form-group .clarification {
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
}

.advanced-search-container .form-group .clarification .monospace {
    font-family: monospace;
}

.advanced-search-container .form-group .right-align {
    width: 50%;
}