textarea {
    min-height: 400px;
}

.row{
    height: 30px
}

.read{
    background-color: lightgrey;
}

.unread{
    background-color: white;
}

.email-subject{
    border-style: double;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.email-body{
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px
}