{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <div class="card-deck">
        {% for listing in listings %}
            {% if listing.is_active == True %}
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" src={{listing.image}} alt="image of item">
                    <div class="card-body">
                        <a class="card-link" href="{% url 'listing' listing.id %}">{{listing.title}}</a>
                        <p class="card-text"> {{listing.description}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}